@use "@/styles/variables/_breakpoint.scss" as breakpoint;

.container {
  width: 100%;
  background-color: var(--color-surface);
  padding: clamp(4rem, 8vw, 6rem) var(--padding-medium) clamp(1.5rem, 4vw, 3rem);
}


@media screen and (min-width: breakpoint.$breakpoint-tablet) {
  .section {
    max-width: breakpoint.$breakpoint-tablet;
    margin-inline: auto;
  }
}
