.text {
  white-space: pre-wrap;
  .char {
    opacity: 0;
  }
  .char_active {
    animation: appear 0.01s forwards;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}