.container {
  display: flex;
  align-items: center;
  gap: 4px;
  .dot {
    transform: translate(-4px, 1px);
  }
  .text {
    color: var(--color-accent-white);
    font-family: var(--font-family-mono);
  }
  .online {
    animation: pulse 2s linear infinite;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}