.container {
  position: fixed;
  top: 10rem;
  left: 0;
  width: 100%;
  z-index: var(--z-header);
  display: flex;
  justify-content: center;
  .toast {
    white-space: pre-line;
    max-width: 22rem;
    color: var(--color-accent-white);
    padding: var(--padding-large);
    background-color: var(--color-surface);
    border: 1px solid var(--color-accent-online);
    animation: slide-in 0.35s ease-out forwards;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-120%);
    opacity: 0;
  }

  70% {
    transform: translateY(6px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}